
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 224, 250);
  
}

.traffic-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    width: 150px;
    border-radius: 20px;
    height: 350px;
    padding-top: 20;
    padding-bottom: 20;
    margin-bottom: 380;

   
}

.circle {
    width: 100px;
    height: 100px; 
    border-radius: 100%;
    opacity: 0.5;

}
#red {
    background-color: red;
    
}


#yellow {
    background-color: yellow;
}


#green {
    background-color: green;
    
}

#base {
  width: 100px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  margin: 0px;
}

#holder {
    width: 40px;
    height: 380px;
    background-color: black;
    border-radius: 10px;
    margin: -430;
}

.timer-box {
    background-color: #373937;
    font-size: 32px;
    text-align: center;
    border-radius: 10px;
    width: 100;
    height: 80;
    margin-top: 40;
}

    #timer {
    font-size: 32px;
    color: green;
    margin-top: 35px;
    font-weight: bold;
    height: 80;
   
}





