body {
     /* display: flex;
    justify-content: center;
    align-items: center; */
}

 #mainPage {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    gap: 15px;
    justify-content: center;   
} 

.app {
     width: 100%;
    background: #fff url(./container_bg.png);
    display: flex;
    justify-content: center;
}


.pokemoncard{

   width: 205px;
    background-color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}


.pokemoncard img {
    width: 100%;
}

.id {
    color: #919191;
    font-size: 80%;
    padding-top: 2px;
}

.name {
    color: #313131;
    font-size: 155%;

    
}

.buttons {
    display: flex;
    gap: 15px;
    flex-direction: row;
}